.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	top: 5px;
	margin: 30px auto;
	height: 10px;
	width: 600px;

}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	align-items: center;
	color: #fff;
	display: flex;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.005s;
}